@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "GF_layout.cshtml";
}

<!-- page-title -->
<div class="ttm-page-title-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-box">
                    <div class="page-title-heading">
                        <h1 class="title">關於好饗初</h1>
                    </div>
                    <!-- /.page-title-captions -->
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="/">首頁</a>
                        </span>
                        <span class="ttm-bread-sep">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                        <span><span>關於好饗初美味</span></span>
                    </div>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- page-title END-->
<!--site-main start-->
<div class="site-main">
    <!-- story-section -->
    <section class="ttm-row story-section position-relative clearfix">
        <!--<div class="section-overlay-img one">
            <img src="https://via.placeholder.com/293X198/444444.png"
                 alt="overlay-img-01" />
        </div>-->
        <div class="container">
            <div class="row">
                <!-- row -->
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <!-- section title -->
                    <div class="section-title text-center clearfix">
                        <div class="title-header">
                            <h4 style="color: #C5A572;"><b>@Model.Value("About_Subtitle")</b></h4>
                            <h2 class="title">@Model.Value("About_Title")</h2>
                        </div>
                        <div class="heading-seperator">
                            <span></span>
                        </div>
                    </div>
                    <!-- section title end -->
                </div>
            </div>
            <!-- row end-->
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
                    <h5>@Model.Value("About_Description")</h5>
                </div>
                <div class="col-md-12">
                    <div class="mt-20">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper text-center">
                            @*<img class="img-fluid"
                                 src="/tpl/zst_GF/images/aboutUs/aboutUs-banner.jpg"
                                 alt="" />*@
                            @{
                                var About_Banner = Model.Value<MediaWithCrops>("About_Banner");
                                if (About_Banner != null)
                                {
                                    <img class="img-fluid" src="@About_Banner.MediaUrl()" alt="About_Banner" />
                                }
                            }
                        </div>
                        <!-- ttm_single_image-wrapper end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- story-section -->
    <!-- history-section -->
    <section class="ttm-row history-section ttm-bgcolor-darkgrey bg-img18 clearfix">
        <div class="container">
            <div class="row no-gutters">
                <!-- row -->
                <div class="col-lg-5">
                    <!-- col-bg-img-three -->
                    <div class="ttm-bg col-bg-img-three ttm-col-bgimage-yes res-991-ptb-200">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                            <div class="ttm-bg-layer-inner"></div>
                        </div>
                        <div class="layer-content">
                            <div class="ttm-video-icon ttm-center-video-icon ttm_prettyphoto">
                                <!-- ttm-video-icon -->
                                <a class="ttm-icon ttm-icon_element-background-color-white ttm-icon_element-size-md ttm-icon_element-style-round ttm_prettyphoto mb-0"
                                   href="https://www.youtube.com/watch?v=wyXnoeJoKLw">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="spacing-7">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header mb-40">
                                <h5>Our Journey</h5>
                                <h2 class="title">Check Our History</h2>
                            </div>
                        </div>
                        <!-- section title end -->
                        <div id="ttm-timeline" class="clearfix">
                            <!--timeline-->
                            <div class="timeline">
                                <div class="timeline-panel">
                                    <!--timeline-panel-->
                                    <div class="timeline-date">
                                        <span class="timeline-year">2022</span><!--timeline-year-->
                                    </div>
                                    <div class="timeline-body">
                                        <!--timeline-body-->
                                        <h3 class="title">創新及突破自我階段</h3>
                                        <p class="h5">
                                            好饗初食品工廠設立
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline-panel">
                                    <!--timeline-panel-->
                                    <div class="timeline-date">
                                        <span class="timeline-year">2021</span><!--timeline-year-->
                                    </div>
                                    <div class="timeline-body">
                                        <!--timeline-body-->
                                        <h3 class="title">運籌起步階段</h3>
                                        <p class="h5">
                                            確立目標，開始完整商品化產品及量化
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline-panel">
                                    <!--timeline-panel-->
                                    <div class="timeline-date">
                                        <span class="timeline-year">2020</span><!--timeline-year-->
                                    </div>
                                    <div class="timeline-body">
                                        <!--timeline-body-->
                                        <h3 class="title">草創階段</h3>
                                        <p class="h5">
                                            成立商行與烘焙工作室，鎖定營運方向
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--timeline-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </section>
    <!-- history-section -->
    <!-- client-section -->
    <div class="ttm-row client-section ttm-bgcolor-grey clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- ttm-client -->
                    <div class="clients-slide owl-carousel owl-theme owl-loaded"
                         data-item="5"
                         data-nav="false"
                         data-dots="false"
                         data-auto="true">
                        <div class="client-box ttm-box-view-boxed-logo">
                            <div class="client">
                                <!-- client- -->
                                <div class="ttm-client-logo-tooltip"
                                     data-tooltip="產品-01">
                                    <!-- client-01 -->
                                    <img class="img-fluid"
                                         src="https://img.meepshop.com/ELGDf7qxxq5PSQVCgc9y9e1C33JyrKOaIfEZ1nmqHNY/w:480/Z3M6Ly9pbWcubWVlcGNsb3VkLmNvbS9tZWVwc2hvcC8xNDc3ZTdjYy1hNWRiLTRjODYtYjVmMi03ZGViOGIyMDBkMjQvZmlsZXMvNzc0N2Y1MjUtZDQzOC00MWVlLTlkYzUtMTc2ZTk3ZjNmYmY1LmpwZw"
                                         alt="image" />
                                </div>
                            </div>
                        </div>
                        <div class="client-box ttm-box-view-boxed-logo">
                            <div class="client">
                                <div class="ttm-client-logo-tooltip"
                                     data-tooltip="產品-02">
                                    <!-- client-02 -->
                                    <img class="img-fluid"
                                         src="https://img.meepshop.com/17Ehw-w-IkJcKWvqMc1BbGW0ow23kAUZo90kd0JzHHI/w:480/Z3M6Ly9pbWcubWVlcGNsb3VkLmNvbS9tZWVwc2hvcC8xNDc3ZTdjYy1hNWRiLTRjODYtYjVmMi03ZGViOGIyMDBkMjQvZmlsZXMvZjhjNTE4ZDMtOWVjMy00NzZiLWJjYzctYmYwNjljMDBkMzVhLmpwZw"
                                         alt="image" />
                                </div>
                            </div>
                        </div>
                        <div class="client-box ttm-box-view-boxed-logo">
                            <div class="client">
                                <div class="ttm-client-logo-tooltip"
                                     data-tooltip="產品-03">
                                    <!-- client-03 -->
                                    <img class="img-fluid"
                                         src="https://img.meepshop.com/4s-7lQIU9L5OEbCKPwcjIkqenm4uftlRWDZz86E9-ao/w:480/Z3M6Ly9pbWcubWVlcGNsb3VkLmNvbS9tZWVwc2hvcC8xNDc3ZTdjYy1hNWRiLTRjODYtYjVmMi03ZGViOGIyMDBkMjQvZmlsZXMvODNmNTM4NzYtN2Q0NS00N2M2LTg0YTQtYjBmYzJiNTcyYjI5LmpwZw"
                                         alt="image" />
                                </div>
                            </div>
                        </div>
                        <div class="client-box ttm-box-view-boxed-logo">
                            <div class="client">
                                <div class="ttm-client-logo-tooltip"
                                     data-tooltip="產品-04">
                                    <!-- client-04 -->
                                    <img class="img-fluid"
                                         src="https://img.meepshop.com/5qG9G9HsQ8_rSXSEyqw-LDxQdZoYjKmqw35I6jQQL8Q/w:480/Z3M6Ly9pbWcubWVlcGNsb3VkLmNvbS9tZWVwc2hvcC8xNDc3ZTdjYy1hNWRiLTRjODYtYjVmMi03ZGViOGIyMDBkMjQvZmlsZXMvNjY1YmMyZDctNjI3ZC00OTM1LTkzZTktYjUxNTk5ZWZlNmYxLkpQRw"
                                         alt="image" />
                                </div>
                            </div>
                        </div>
                        <div class="client-box ttm-box-view-boxed-logo">
                            <div class="client">
                                <div class="ttm-client-logo-tooltip"
                                     data-tooltip="產品-05">
                                    <!-- client-05- -->
                                    <img class="img-fluid"
                                         src="https://img.meepshop.com/SAIGSj1-kQmD9HDQcMCbrCmAAfXJY-m9d6ODnBcNWlw/w:480/Z3M6Ly9pbWcubWVlcGNsb3VkLmNvbS9tZWVwc2hvcC8xNDc3ZTdjYy1hNWRiLTRjODYtYjVmMi03ZGViOGIyMDBkMjQvZmlsZXMvYzE1OWYwNjAtYmQwNi00NTNlLWFiMWMtN2U4MjA2NjEzYmUyLkpQRw"
                                         alt="image" />
                                </div>
                            </div>
                        </div>
                        <div class="client-box ttm-box-view-boxed-logo">
                            <div class="client">
                                <div class="ttm-client-logo-tooltip"
                                     data-tooltip="產品-06">
                                    <!-- client-06 -->
                                    <img class="img-fluid"
                                         src="https://img.meepshop.com/30KYKC7su5DhpKHL__DMRCUEORfGhbKELflzFjrTgUo/w:480/Z3M6Ly9pbWcubWVlcGNsb3VkLmNvbS9tZWVwc2hvcC8xNDc3ZTdjYy1hNWRiLTRjODYtYjVmMi03ZGViOGIyMDBkMjQvZmlsZXMvOGY1Zjc3M2YtOGI5Ny00ZDk1LWEyNzQtNzFiODI1Y2FmZGU0LmpwZw"
                                         alt="image" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ttm-client end -->
                </div>
            </div>
        </div>
    </div>
    <!-- client-section end-->
    <!-- team-member-section -->
    <section class="ttm-row last-section clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9 col-xl-10 col-md-9">
                    <!-- section-title -->
                    <div class="section-title style2 clearfix">
                        <div class="title-header">
                            <h4 style="color: #C5A572;"><b>@Model.Value("Team_Subtitle")</b></h4>
                            <h2 class="title">@Model.Value("Team_Title")</h2>
                        </div>
                        <div class="title-desc">
                            <h5><b>@Model.Value("Team_Description")</b></h5>
                        </div>
                    </div>
                    <!-- section-title end -->
                </div>
                <!--<div class="col-lg-3 col-xl-2 col-md-3">
                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-darkgrey mb-40 float-lg-right"
                       href="#">View More</a>
                </div>-->
            </div>
            <!-- row -->
            <div class="row">
                <div class="team-slide owl-carousel"
                     data-item="3"
                     data-nav="false"
                     data-dots="false"
                     data-auto="true">
                    <!-- featured-imagebox-team -->
                    <div class="featured-imagebox featured-imagebox-team style1">
                        <!-- featured-thumbnail -->
                        <div class="featured-thumbnail">
                            @*<img class="img-fluid"
                            src="/tpl/zst_GF/images/aboutUs/team/chef-renee.jpg"
                            alt="image" />*@
                            @{
                                var Chef_01_Image = Model.Value<MediaWithCrops>("Chef_01_Image");
                                if (Chef_01_Image != null)
                                {
                                    <img class="img-fluid" src="@Chef_01_Image.MediaUrl()" alt="Chef_01_Image" />
                                }
                            }

                            <div class="ttm-social-links-wrapper">
                                <!-- team-member-social-link -->
                                <ul class="social-icons circle list-inline">
                                    <li class="social-facebook">
                                        <a href="https://www.facebook.com/cestchefrenee" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <!-- <li class="social-teitter">
                                      <a href=""
                                        ><i class="fa fa-twitter" aria-hidden="true"></i
                                      ></a>
                                    </li> -->
                                    <li class="social-instagram">
                                        <a href="https://www.instagram.com/renee_peiyaolu/" target="_blank">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <!-- <li class="social-google">
                                      <a href="#"
                                        ><i class="fa fa-google-plus" aria-hidden="true"></i
                                      ></a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <!-- featured-thumbnail end-->
                        <div class="featured-content text-center">
                            <!-- featured-content-->
                            <div class="featured-title">
                                <!-- team-member-name -->
                                <h5>@Model.Value("Chef_01_Name")</h5>
                            </div>
                            <div class="category">
                                <!-- team-member-category -->
                                <p class="mb-0"><b>@Model.Value("Chef_01_Title")</b></p>
                            </div>
                        </div>
                        <!-- featured-content end-->
                    </div>
                    <!-- featured-imagebox-team end -->
                    <!-- featured-imagebox-team -->
                    <div class="featured-imagebox featured-imagebox-team style1">
                        <!-- featured-thumbnail -->
                        <div class="featured-thumbnail">
                            <img class="img-fluid"
                                 src="/tpl/zst_GF/images/aboutUs/team/ray.jpg"
                                 alt="image" /><!-- team-member-img -->
                            <div class="ttm-social-links-wrapper">
                                <!-- team-member-social-link -->
                                <ul class="social-icons circle list-inline">
                                    <li class="social-line">
                                        <a href="#">
                                            <!--<i class="fa fa-facebook" aria-hidden="true"></i>-->
                                            <!--<i class="fa-brands fa-line" aria-hidden="true"></i>-->
                                            <i class="fab fa-line fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <!-- <li class="social-teitter">
                                      <a href=""
                                        ><i class="fa fa-twitter" aria-hidden="true"></i
                                      ></a>
                                    </li> -->
                                    <li class="social-instagram">
                                        <a href="mailto:ryanx94@gmail.com">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <!-- <li class="social-google">
                                      <a href="#"
                                        ><i class="fa fa-google-plus" aria-hidden="true"></i
                                      ></a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <!-- featured-thumbnail end-->
                        <div class="featured-content text-center">
                            <!-- featured-content-->
                            <div class="featured-title">
                                <!-- team-member-name -->
                                <h5>Ray Chen</h5>
                            </div>
                            <div class="category">
                                <!-- team-member-category -->
                                <p class="mb-0"><b>阿豬師</b></p>
                            </div>
                        </div>
                        <!-- featured-content end-->
                    </div>
                    <!-- featured-imagebox-team end -->
                </div>
            </div>
        </div>
    </section>
    <!-- team-member-section end -->
    <!-- certificate-section -->
    <section class="ttm-row last-section ttm-bgcolor-darkgrey bg-img18 clearfix">
        <div class="container">
            <div class="row">
                @*<div class="col-md-6 col-sm-12">
                    <img src="/tpl/zst_GF/images/aboutUs/certificate/certificate-renee.jpg" class="img-thumbnail img-fluid" style="height: ;" alt="...">
                </div>*@
                <div class="col-md-6 col-sm-12">
                    @{
                        var Certificate_Chef_01_Image = Model.Value<MediaWithCrops>("Certificate_Chef_01_Image");
                        if (Certificate_Chef_01_Image != null)
                        {
                            <img class="img-thumbnail img-fluid" src="@Certificate_Chef_01_Image.MediaUrl()" style="height: ;" alt="Certificate_Chef_01_Image">
                        }
                    }
                </div>

                @*<div class="col-md-6 col-sm-12">
                    <img src="/tpl/zst_GF/images/aboutUs/certificate/certificate-ray.jpg" class="img-thumbnail" alt="...">
                </div>*@
                <div class="col-md-6 col-sm-12">
                    @{
                        var Certificate_Chef_02_Image = Model.Value<MediaWithCrops>("Certificate_Chef_02_Image");
                        if (Certificate_Chef_02_Image != null)
                        {
                            <img class="img-thumbnail img-fluid" src="@Certificate_Chef_02_Image.MediaUrl()" style="height: ;" alt="Certificate_Chef_02_Image">
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- certificate-section end -->
</div>
<!--site-main end-->
